body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 320px;
  border-radius: 5%;
  background-color: #fff;
}

.card-img {
  border-radius: 8%;
  padding: 1rem;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  line-height: 1.2em;
}
.card-text {
  color: hsl(220, 15%, 55%);
  padding: 0.2em 0.8em 2em;
  line-height: 1.2em;
}
